:root {
  --light-background-color: #2a2c39;
  --light-transparent-color: rgba(42, 44, 57, 0.5);
  --dark-background-color: #252734;

  --text-color: #858792;
  --white-color: #fff;
  --font-family-Playfair: "Playfair Display", serif;
  --font-family-Nunito: "Nunito", sans-serif;
}

.text_style {
  width: 90%;
  font-family: var(--font-family-Nunito);
  font-weight: normal;
  letter-spacing: normal;
  line-height: 1.5;
 
}
.center{
  width: 80%;
  margin: 0 auto;
  display: grid;
  place-items: center; 
 
}